In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('test.db')
cur = con.cursor()

In [17]:
# cur.execute('''CREATE TABLE IF NOT EXISTS `session` (
#             `game_id` integer,
#             `started_at` integer,
#             `ended_at` integer
#             );''')

cur.execute('''CREATE TABLE IF NOT EXISTS `games` (
            `id` integer,
            `name` text,
            `total_hours` real,
            `created_at` integer
            );''')

# print('table is created')
        
        

con.commit()

In [24]:
# import time
# from datetime import datetime

# game_id = 13  

# game_name = 'Left 4 Dead 2'

# print('game_id', game_id)

    
# cur.execute(f'''insert into games
#             values(
#             {game_id},
#             '{game_name}',
#             0,
#             '{int(datetime.now().timestamp())}');
#             ''')
        
# con.commit()

game_id 13

In [6]:
from datetime import datetime

cur.execute(f'''insert into session
            values(
            5,
            '{int(datetime.now().timestamp())}',
            '{int(datetime.now().timestamp())}'
            );
''')

In [37]:
import time
from datetime import datetime

try:
    game_id = cur.execute('SELECT id FROM games ORDER BY id DESC LIMIT 0, 1;')
    game_id = game_id.fetchone()
    game_id = game_id[0] + 1
    print('exception - try')
except: 
    game_id = 0
    print('exception - except')
    
print(game_id)
        

cur.execute(f'''INSERT INTO games 
    VALUES ({game_id},
    'hui',
    0,
    '{int(datetime.now().timestamp())}');
    ''')
        
con.commit()

exception - try
9

In [28]:
game_id = cur.execute('SELECT id FROM games ORDER BY id DESC LIMIT 0, 1;')
game_id = game_id.fetchone()
game_id=game_id[0] + 1
print('exception - try')

exception - try

In [55]:
from datetime import datetime, timedelta

datedb = datetime.fromtimestamp(res)
time_to_add = timedelta(hours=1, minutes=30)
time_to_add = int(time_to_add.total_seconds())
result = res + time_to_add
print(result)
result = datetime.fromtimestamp(result)
print(result)

1707087793
2024-02-05 02:03:13

In [46]:
#date1 = datetime.now() 
print(date1_stamp)
date1_stamp = int(date1.timestamp())
#date2 = datetime.now()
date2_stamp = int(date2.timestamp())
print(date2_stamp)

1707146389
1707146635

In [45]:
res = date2_stamp - date1_stamp
print(res)
res = date2 - date1
print(res)
res

246
0:04:05.974453

datetime.timedelta(seconds=245, microseconds=974453)

In [54]:
def get_sessions(cur : sqlite3.Cursor, row, game_id):
    try: 
        if game_id != -1:
            result = cur.execute(f'''
                        SELECT {row} FROM session
                        WHERE game_id = {game_id};
                        ''')
        else:
            result = cur.execute(f'''
                        SELECT {row} FROM session;
                        ''')
        
        return result.fetchall()
    
    except:
        print('hui')


def all_time_count(game_id):
    if game_id == -1:
        sessions = get_sessions(cur, '*', -1)
    else:
        sessions = get_sessions(cur, '*', game_id)


    seconds_count = 0


    for i in range(len(sessions)):
        # sessions is array : sessions[id][1-startime/2-endtime]   
        # where session[id][1/2] is datetime.timestamp

        time_difference = sessions[i][2] - sessions[i][1]

        print(sessions[i][2], sessions[i][1], time_difference)

        seconds_count += time_difference 

    return seconds_count  

res = all_time_count(0)
print(res)

1707146635 1707146389 246
1707146739 1707146389 350
1707148039 1707146889 1150
1746

In [64]:
total_seconds = res

hours = total_seconds / 3600
# minutes = int((total_seconds % 3600) // 60)
# seconds = int(total_seconds % 60)

# min_to_hours = float(minutes/60)
# sec_to_hours = float(seconds/3600)

# hours = float(hours)

# hours += (min_to_hours + sec_to_hours)

print(f"time dif: {hours}")  
print(res)

time dif: 0.485
1746

In [65]:
hours = res/3600
game_id = 2       
 
cur.execute(f'''
                UPDATE game
                SET total_hours = {hours}   
                WHERE game_id = {game_id};
                ''')
        
con.commit()

OperationalError: no such column: game_id

In [ ]:
def commit_game(connect : sqlite3.Connection, cursor : sqlite3.Cursor, game_name):  
    #get game_id  
    try:
        game_id = cursor.execute('SELECT id FROM game ORDER BY id DESC LIMIT 0, 1;')
        game_id = game_id.fetchone()
        game_id = game_id[0] + 1

    except: 
        game_id = 0


    try: 
        cursor.execute(f'''INSERT INTO game 
                        VALUES (
                        {game_id},
                        '{game_name}',
                        0,
                        '{int(datetime.now().timestamp())}');
                        ''')

        connect.commit()

    except:
        print('Error to commit game')

In [70]:
res = cur.execute('SELECT name FROM game')
res = res.fetchall()
for i in range(len(res)):
    if 'Portal' == res[i][0]:
        print('Est popadanie')
        i 
    else:
        print('eblank')

eblank
eblank
eblank
eblank
Est popadanie
eblank
eblank
eblank
eblank
eblank
eblank
eblank
eblank
eblank
eblank

In [4]:
# con = sqlite3.connect('test.db')
# cur = con.cursor()

cur.execute("select * from games")
res = cur.fetchall()
print(res[0])

TypeError: 'builtin_function_or_method' object is not subscriptable